.Formulario {
  display: flex;
  flex-direction: center;
  flex-direction: column;
  align-items: center;  
  gap: 1rem;
}

.Registro {
  display: flex;
  flex-direction: center;
  flex-direction: column;
  align-items: center;  
  gap: 1rem;
}

.BotonesInicio {
  display: flex;
  gap: 1rem;
}

.BotonesRegistro {
  display: flex;
  flex-direction: column;
  flex-direction: center;
  gap: 1rem;
}

.simon {
  display: flex;
  justify-content: flex-start;
}